@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://github.com/felipegeroldi/8puzzle" target="_blank" class="ml-md-auto">Projeto no GitHub</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
