@page "/About"

<h3>Sobre</h3>
<p>Essa aplicação foi desenvolvida como atividade bimestral da disciplina de Inteligência Artificial na Unoeste/FIPP - 2021.</p>
<p>Aluno: Felipe Geroldi</p>
<p><a href="http://github.com/felipegeroldi/8puzzle" target="_blank" class="ml-md-auto">Projeto no GitHub</a></p>
